*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --color-danger: #fe7b56;
    --bg-color: #ffffff;
    --text-color: #000;
    --second-color: #a09dab;
    --main-color: #f75023;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.danger{
    color: var(--color-danger);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: .3s;
    padding: 30px 10%;
}
header .logo h3{
    font-size: 30px;
    color: var(--text-color);
}
header .navlist{
    display: flex;
}
.navlist li{
    position: relative;
}
.navlist a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 27px;
}
.navlist a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: .4s ease;
}
.navlist a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 35px;
    columns: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
header .top-btn{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    letter-spacing: 1px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    transition: .5s ease;
}
header .top-btn:hover{
    transform: scale(1.1);
    background: var(--color-danger);
    color: var(--bg-color);
}