*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --color-danger: #f75023;
    --bg-color: #ffffff;
    --text-color: #000;
    --second-color: #e5c8c8;
    --main-color: #f75023;
    --big-font: 2rem;
    --h2-font: 1rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.danger{
    color: var(--color-danger);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: .3s;
    padding: 30px 10%;
    z-index: 1000;
}
header.sticky{
    background: var(--bg-color);
    padding: 13px 10%;
    box-shadow: 0px opx 10px rgba(0, 0, 0, 0.1);
}
header .logo h3{
    font-size: 30px;
    color: var(--text-color);
}
header .navlist{
    display: flex;
}
.navlist li{
    position: relative;
}
.navlist a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 27px;
}
.navlist a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: .4s ease;
}
.navlist a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 35px;
    columns: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
header .top-btn{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    letter-spacing: 1px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    transition: .5s ease;
}
header .top-btn:hover{
    transform: scale(1.1);
    background: var(--color-danger);
    color: var(--bg-color);
}
section{
    padding: 100px 10%;
}
.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: linear-gradient(125deg, #00FF57 0%, #010033 40%, #460043 70%, #F0FFC5 100%), linear-gradient(55deg, #0014C9 0%, #410060 100%), linear-gradient(300deg, #FFC700 0%, #001AFF 100%), radial-gradient(135% 215% at 115% 40%, #393939 0%, #393939 40%, #849561 calc(40% + 1px), #849561 60%, #EED690 calc(60% + 1px), #EED690 80%, #ECEFD8 calc(80% + 1px), #ECEFD8 100%), linear-gradient(125deg, #282D4F 0%, #282D4F 40%, #23103A calc(40% + 1px), #23103A 70%, #A0204C calc(70% + 1px), #A0204C 88%, #FF6C00 calc(88% + 1px), #FF6C00 100%);
    background-blend-mode: overlay, screen, overlay, overlay, normal;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home .home-text h1{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
}
.home .home-text h3{
   color: var(--main-color);
   font-size: 20px;
   font-weight: 500;
}
.home .home-text h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
}
.home .home-text p{
   font-size: var(--p-font);
   color: var(--second-color);
   line-height: 28px;
   margin-bottom: 20px;
}
.home .social a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 17px;
    margin-right: 22px;
    margin-bottom: 30px;
}
.home .social a:hover{
    transform: scale(1.1);
    background: var(--bg-color);
    color: var(--main-color);
    transition: .5s ease;
}
.btn{
    display: inline-block;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 40px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transition: .4s ease;
}
.home .btn:hover{
    transform: scale(1.1);
}
.home .home-img img{
    max-width: 100%;
    width: 310px;
    height: auto;
}
/* ---------------------Animation Waves Starts---------------------------- */
.home .editorial-border {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index: 5;
    bottom: 0;
    position: absolute;
    left: 0px;
    float: left;
}
.editorial-border .parallax > use{
    animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.editorial-border .parallax > use:nth-child(1){
    animation-delay: -4s;
    animation-duration: 20s;
}
.editorial-border .parallax > use:nth-child(2){
    animation-delay: -5s;
    animation-duration: 6s;
}
.editorial-border .parallax > use:nth-child(3){
    animation-delay: -6s;
    animation-duration: 10s;
}
.editorial-border .parallax > use:nth-child(4){
    animation-delay: -7s;
    animation-duration: 5s;
}
@keyframes moveForever{
    0%{
        transform: translate3d(-90px, 0, 0);
    }
    100%{
        transform: translate3d(88px, 0, 0);
    }
}
/* ---------------------Animation Waves ends---------------------------- */

