/* Start Global Rules */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --color-danger: #f75023;
    --color-dark: #898989;
    --bg-color: #ffffff;
    --text-color: #000;
    --second-color: #e5c8c8;
    --main-color: #f75023;
    --big-font: 3rem;
    --h2-font: 1.5rem;
    --p-font: 1.1rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smallest-font-size: .813rem;
}



section {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    section {
        width: 750px;
    }
}

@media (min-width: 992px) {
    section {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    section {
        width: 1170px;
    }
}


/* End Global Rules */

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}
.section-title{
    font-size: 33px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
.section-title::after {
    content: '';
    position: absolute;
    width: 7%;
    height: 3px;
    background: var(--main-color);
    bottom: -3px;
    left: 46.6%;
    transition: .4s ease;
}
.danger {
    color: var(--color-danger);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: .3s;
    padding: 30px 10%;
    z-index: 1000;
}


header.sticky {
    background: var(--bg-color);
    padding: 13px 10%;
    box-shadow: 0px opx 10px rgba(0, 0, 0, 0.1);
}
header.sticky .navlist a,
header.sticky .top-btn,
header.sticky .logo h3,
header.sticky #menu-icon{
    color: var(--text-color);
    font-family: 500;
}
header .logo h3 {
    font-size: 30px;
    color: var(--bg-color);
}

header .navlist {
    display: flex;
}

@media (max-width: 991px) {
    header .navlist {
        display: none;
    }
    
}

.navlist li {
    position: relative;
}

.navlist a {
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 27px;
}
/* .navlist a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    bottom: 0;
    width: 100%;
    border-radius: 1px;
    transition: .5s ease;
}
.navlist a:hover{
    color: var(--main-color);
} */

.navlist a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: .4s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
.navlist a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 35px;
    color: var(--bg-color);
    z-index: 10001;
    display: none;
    cursor: pointer;
}

@media (max-width: 991px) {
    #menu-icon{
        display: block;
    }
}

/* section {
    /* padding: 100px 10%; 
    padding: 50px 10%;
} */

.home {
    min-height: 102vh;
    height: 100%;
    position: relative;
    width: 100%;
    background: linear-gradient(125deg, #00FF57 0%, #010033 40%, #460043 70%, #F0FFC5 100%), linear-gradient(55deg, #0014C9 0%, #410060 100%), linear-gradient(300deg, #FFC700 0%, #001AFF 100%), radial-gradient(135% 215% at 115% 40%, #393939 0%, #393939 40%, #849561 calc(40% + 1px), #849561 60%, #EED690 calc(60% + 1px), #EED690 80%, #ECEFD8 calc(80% + 1px), #ECEFD8 100%), linear-gradient(125deg, #282D4F 0%, #282D4F 40%, #23103A calc(40% + 1px), #23103A 70%, #A0204C calc(70% + 1px), #A0204C 88%, #FF6C00 calc(88% + 1px), #FF6C00 100%);
    background-blend-mode: overlay, screen, overlay, overlay, normal;
    background-size: cover;
    background-position: center;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 120px;
    justify-content: center;
}

.home .home-text h1 {
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
    color: var(--bg-color);
}

.home .home-text h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.home .home-text h5 {
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
    color: #ddd;
}

.home .home-text p {
    font-size: var(--p-font);
    color: var(--color-dark);
    line-height: 28px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .home .home-text a {
        margin-bottom: 20px;
    }
}

.home .social a {
    width: 35px;
    height: 35px;
    background: var(--main-color);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
    font-size: 17px;
    margin-right: 22px;
    margin-bottom: 30px;
}


.home .social a:hover {
    transform: scale(1.1);
    color: var(--bg-color);
    transition: .5s ease;
}

.btn {
    display: inline-block;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 40px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transition: .4s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.home .home-img img {
    max-width: 100%;
    width: 380px;
    height: auto;
}

@media (max-width: 767px) {
    .home .home-img img{
        width: 300px;
        margin-top: -30px;
    }
}

/* ---------------------Animation Waves Starts---------------------------- */
.home .editorial-border {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index: 5;
    bottom: 0;
    position: absolute;
    left: 0px;
    float: left;
}

@media (max-width: 767px) {
    .home{
        display: flex;
        flex-direction: column-reverse;
    }
}

.editorial-border .parallax>use {
    animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.editorial-border .parallax>use:nth-child(1) {
    animation-delay: -4s;
    animation-duration: 20s;
}

.editorial-border .parallax>use:nth-child(2) {
    animation-delay: -5s;
    animation-duration: 6s;
}

.editorial-border .parallax>use:nth-child(3) {
    animation-delay: -6s;
    animation-duration: 10s;
}

.editorial-border .parallax>use:nth-child(4) {
    animation-delay: -7s;
    animation-duration: 5s;
}

@keyframes moveForever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(88px, 0, 0);
    }
}

/* ---------------------Animation Waves ends---------------------------- */
.service-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px 0px;
}

.service-info{
    flex-basis: 32%;
    padding: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 2px;
}
@media (max-width: 991px) {
    .service-info{
        flex-basis: 48%;
    }
}
@media (max-width: 767px) {
    .service-info{
        flex-basis: 100%;
    }
}

.service-info .service-icon {
    width: 60px;
    height: 60px;
    border-radius: 9px;
    background-color: var(--main-color);
    box-shadow: 0 6px 7px rgb(176 153 145 / 67%);
    text-align: center;
    margin: 0 auto 25px;
}

.service-info .service-icon i {
    line-height: 60px;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    color: var(--bg-color);
}

.service-info h3 {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 700;
    margin: 0 0 7px;
}

.service-info p {
    font-size: 16px;
    color: var(--color-dark);
}

.about-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 767px) {
    .about-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.about-info .about-img img {
    max-width: 100%;
    width: 940px;
    height: auto;
}

.about-info-info .about-text h2 {
    font-size: var(--h2-font);
    font-family: 500;
    margin: 8px 0px 25px;
    line-height: 1.1;
}


.about-info .about-text h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.about-info .about-text p {
    max-width: 550px;
    font-size: var(--p-font);
    color: var(--color-dark);
    line-height: 28px;
}
.about-info .about-text .btn{
    margin-top: 25px;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(3, 330px); */
    gap: 1.8rem;
    justify-content: center;
    padding-top: 1rem;
}

.project-container .project-card {
    flex-basis: 30%;
    background-color: var(--color-dark);
    padding: 1.25rem;
    border-radius: .5rem;
}
@media (max-width: 991px) {
    .project-container .project-card{
        flex-basis: 45%;
    }
}
@media (max-width: 767px) {
    .project-container .project-card{
        flex-basis: 100%;
    }
}

.project-container .project-card img {
    border-radius: .5rem;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
}

.project-card .project-item-details {
    display: none;
}

.project-card .project-title {
    color: var(--bg-color);
    font-size: var(--normal-font-size);
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.project-card .project-bottom{
    color: var(--main-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}
.project-bottom .project-bottom-icon{
    font-size: 1rem;
    transition: .3s;
}
.project-bottom:hover .project-bottom-icon{
    transform: translateX(.25rem);
}
.project-popup{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.project-popup.open{
    opacity: 1;
    visibility: visible;
}
.project-popup-inner{
    background-color: var(--color-dark);
    width: 900px;
    border-radius: .5rem;
    padding: 2.5rem;
    position: relative;
}
@media (max-width: 767px) {
    .project-popup-inner{
        width: 420px;
        padding: 2.8rem 1.5rem 2.5rem;
    }
}
.project-popup-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 3rem;
}
@media (max-width: 767px) {
    .project-popup-content{
        grid-template-columns: 1fr;
        row-gap: 1.6rem;
    }
}
.project-popup-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--main-color);
    cursor: pointer;
}
@media (max-width: 767px) {
    .project-popup-close{
       top: .5rem;
    }
}
.project-popup-img{
    border-radius: .5rem;
    width: 100%;
}
.project-popup-subtitle{
    font-size: var(--smallest-font-size);
    margin-bottom: .25rem;
}
.details-title{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1rem;
}
@media (max-width: 767px) {
    .details-title{
       font-size: 20px;
    }
}
.details-description{
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}
.details-info li{
    margin-bottom: .75s;
    text-transform: capitalize;
    font-size: var(--small-font-size);
}
.details-info li:last-child{
    margin-bottom: 0;
}
.details-info li span{
    font-size: normal;
}
.details-info li a{
    text-transform: lowercase;
    font-weight: 400;
    color: var(--main-color);
}
.contact{
    background: var(--bg-color);
}
.contact-info{
    display: flex;
    gap: 2.5rem;
}
@media (max-width: 767px) {
    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.contact-info .contact-text h4{
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}
.contact-info .contact-text p{
    color: var(--text-color);
    font-size: var(--p-font);
    margin-bottom: 30px;
}
.contact-info .contact-text .contact-links{
    margin-bottom: 2.8rem;
}
.contact-text .contact-links li{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.contact-links li a{
    display: block;
    color: var(--text-color);
    font-size: 14px;
    transition: all .4s ease;
    padding-left: 5px;
}
.contact-links li a:hover{
    color: var(--main-color);
    transform: translateX(5px);
}
.contact-text .contact-icons i{
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 8px;
    margin-right: 15px;
    transition: all.45s ease;
}
.contact-text .contact-icons i:hover{
    transform: scale(1.1);
}
.contact-info .contact-form{
    position: relative;
}
.contact-form form input,
form textarea{
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.contact-info form input::placeholder,
.contact-info form textarea::placeholder{
    color: var(--text-color);
}
.contact-info form textarea{
    resize: none;
    height: 240px;
}
.contact-info form .submit{
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--bg-color);
    width: 160px;
    transition: all.45s ease;
}
.contact-info form .submit:hover{
    transform: scale(1.1);
}
footer{
    border-top: 1px solid var(--text-color);
    padding: 10px;
}
footer p{
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}



























